<div class="container">
  <form>
    <ul class="nav nav-tabs" style="margin-bottom: 10px">
      <li class="nav-item">
        <a class="nav-link {{view === 'info'?'active':''}}" (click)="setView('info')">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{view === 'ingredients'?'active':''}}" (click)="setView('ingredients')">Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{view === 'procedures'?'active':''}}" (click)="setView('procedures')">Procedures</a>
      </li>
    </ul>
    <div *ngIf="view==='info'" class="container" style="margin-bottom: 10px">
      <label for="title">Recipe Name</label>
      <input id="title" class="form-control form-control-sm" [(ngModel)]="data.recipe.name" name="username" placeholder="Recipe Name">
      <label for="description">Description</label>
      <textarea rows="10" class="form-control form-control-sm" [(ngModel)]="data.recipe.description" name="description"
        placeholder="Description"></textarea>
      <tag-input [(ngModel)]="data.recipe.taglist" [modelAsStrings]="true" name="tags"></tag-input>
    </div>
    <div *ngIf="view==='ingredients'" class="container" style="margin-bottom: 10px">
      <h5>Ingredients</h5>
      <button (click)="addIngredient()">Add Ingredient</button>
      <div class="row" style="margin-bottom: 5px" *ngFor="let ingredient of data.recipe.ingredients; let i = index">
        <input class="form-control form-control-sm col-7" [(ngModel)]="ingredient.name" name="ingredient{{i}}">
        <input class="form-control form-control-sm col-4" [(ngModel)]="ingredient.quantity" name="quantity{{i}}">
        <span class="fa fa-close col-1" [mdbTooltip]="'delete item'" (click)="deleteIngredient(i)"></span>
      </div>
    </div>
    <div *ngIf="view==='procedures'" class="container">
      <h5>Procedure</h5>
      <button (click)="addProcedure()">Add Procedure</button>
      <div *ngFor="let procedure of data.recipe.procedures; let i = index">
        <h6><b>Step {{i}}</b></h6>
        <button class="fa fa-close" [mdbTooltip]="'delete item'" (click)="deleteProcedure(i)"></button>
        <textarea rows="10" class="form-control form-control-sm" [(ngModel)]="procedure.text" name="procedure{{i}}"></textarea>
      </div>
    </div>
  </form>
</div>
