<div class="form-group row login-content">
  <label class="col-2 fa fa-user fa-2x blue-icon"></label>
  <input [(ngModel)]="username" placeholder="Enter Username" class="login-input form-control col-9" type="text" required>
  <span class="col-1 fa {{username.length === 0? 'fa-warning red-icon':'fa-check green-icon'}}"></span>

  <div class="col-12" style="margin-bottom: 10px"></div>

  <label class="col-2 fa fa-lock fa-2x blue-icon"></label>
  <input [(ngModel)]="password" placeholder="Enter Password" class="login-input form-control col-9" type="password" required>
  <span class="col-1 fa {{password.length === 0? 'fa-warning red-icon':'fa-check green-icon'}} red-icon"></span>
  <br>
</div>
