<div class="form-group row">
  <label class="col-lg-4">Username</label>
  <input [(ngModel)]="username" class="login-input form-control col-lg-7 col-11" type="text" required>
  <span *ngIf="username.length === 0" class="col-1 fa fa-warning red-icon"></span>
  <br>
  <label class="col-lg-4">Password</label>
  <input [(ngModel)]="password" class="login-input form-control col-lg-7 col-11" type="password" required>
  <span *ngIf="password.length === 0" class="col-1 fa fa-warning red-icon"></span>
</div>
