<span (mouseenter)="show = true" (mouseleave)="show = false" class="icon-body">
  <a [routerLink]="['/user', data.id]">
    {{data.name}}
  </a>
  <div class="user-tooltip" *ngIf="show">
    <a [routerLink]="['/user', data.id]">
      <img class="image-center" src="http://placehold.it/64x64" alt="">
      <h6>{{data.fname +' '+ data.lname}}</h6>
    </a>
    <div class="text-item" [mdbTooltip]="'Followers'"><span class="fa fa-user-plus"></span>{{data.followerCount}}</div>
    <div class="text-item" [mdbTooltip]="'Posted Recipes Average Rating'">
      <app-rate-icon [score]="data.avgrating"></app-rate-icon>
    </div>
    <div class="text-item" [mdbTooltip]="'Review Likes'"><span class="fa fa-arrow-circle-up"></span>{{data.reviewkarma}}</div>
  </div>
</span>
