<div class="container">
  <form>
    <div class="md-form">
      <input class="form-control" [(ngModel)]="data.user.name" name="username" placeholder="username" />
    </div>

    <div class="md-form">
      <input class="form-control" [(ngModel)]="data.user.fname" name="first name" placeholder="first name" />
    </div>

    <div class="md-form">
      <input class="form-control" [(ngModel)]="data.user.lname" name="last name" placeholder="last name" />
    </div>

    <div class="md-form">
      <textarea [(ngModel)]="data.user.bio" name="biography" placeholder="biography"></textarea>
    </div>

    <div class="md-form">
      <input class="form-control" [(ngModel)]="data.user.password" name="password" placeholder="password" />
    </div>

    <div class="md-form">
      <input class="form-control" [(ngModel)]="data.user.password" name="confirm password" placeholder="confirm password" />
    </div>
  </form>
</div>
