<div class="container">
  <form>
    <input [(ngModel)]="data.username" name="username" placeholder="username">
    <input [(ngModel)]="data.userfname" name="first name" placeholder="first name">
    <input [(ngModel)]="data.userlname" name="last name" placeholder="last name">
    <textarea [(ngModel)]="data.userbio" name="biography" placeholder="biography"></textarea>
    <input [(ngModel)]="data.userpassword" name="password" placeholder="password">
    <input [(ngModel)]="data.userpassword" name="confirm password" placeholder="confirm password">
  </form>
</div>
