<div class="container">
  <form class="row">
    <label class="btn btn-default col-12">
      <img alt="Choose Image">
      <input type="file" hidden accept="image/x-png,image/gif,image/jpeg">
    </label>
    <label class="col-lg-3">Username</label>
    <input class="form-control col-lg-9" [(ngModel)]="data.user.name" name="username" />

    <label class="col-lg-12">Fullname</label>
    <input class="form-control col-lg-6" [(ngModel)]="data.user.fname" name="first name" placeholder="firstname" />
    <input class="form-control col-lg-6" style="margin-bottom: 20px" [(ngModel)]="data.user.lname" name="last name" />

    <label class="col-lg-3">Biography</label>
    <textarea rows="10" class="form-control form-control-sm col-lg-9" [(ngModel)]="data.user.bio" name="biography"></textarea>

    <label>Password</label>
    <input class="form-control" name="password" type="password" />

    <label>Confirm Password</label>
    <input class="form-control" name="confirm password" type="password" />
  </form>
</div>
