<div class="container auth-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{logintab?'active':''}}" (click)="toLogin(true)">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{!logintab?'active':''}}" (click)="toLogin(false)">Register</a>
    </li>
  </ul>
  <div style="margin: 40px">
    <app-login *ngIf="logintab"></app-login>
    <app-register *ngIf="!logintab"></app-register>
    <a class="btn btn-success float-right">{{logintab? 'Login':'Register'}}</a>
  </div>
</div>
