<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/']"><b>Cooking In A Menu</b></a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/']" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/recipes']" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>
          Popular Tags
        </a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
          Explore<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a [routerLink]="['/hot']" class="dropdown-item waves-light" mdbWavesEffect>Hot</a>
          <a [routerLink]="['/trending']" class="dropdown-item waves-light" mdbWavesEffect>Trending</a>
          <a [routerLink]="['/fresh']" class="dropdown-item waves-light" mdbWavesEffect>Fresh</a>
        </div>
      </li>
    </ul>
    <div [ngSwitch]="loggedin()">
      <div *ngSwitchCase="false">
        <a (click)="onBtnLogin()" class="nav-link waves-light">Login</a>
        <a (click)="onBtnRegister()" class="nav-link waves-light">Register</a>
      </div>
      <div *ngSwitchCase="true">
        <span class="fa fa-user-circle-o fa-2x"></span>
      </div>
    </div>
  </links>
</mdb-navbar>
<!-- Dialog Modal -->
<app-dialog-modal class="container pre-scrollable" #dialog>
</app-dialog-modal>
<!-- Dialog Modal -->
<router-outlet class="container content-body"></router-outlet>
