<div class="card">
  <a [routerLink]="['/recipe', data.id]"><img class="card-img-top" src="http://placehold.it/600x350" alt=""></a>
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/recipe', data.id]">{{data.name.toUpperCase()}}</a>
    </h5>
    <small class="card-text">{{data.description.slice(0,100)}}....</small>
  </div>
  <div class="card-footer">
    <app-user-icon [data]="uploader"></app-user-icon>
    <h6 class="card-subtitle">Rating: {{data.trating}}</h6>
    <span (click)="onRateClick()" class="rate-icon">
      <app-rate-icon [score]="data.avgrating"></app-rate-icon>
    </span>
  </div>
</div>
