<div class="card">
  <a [routerLink]="['/recipe', data.id]"><img class="card-img-top" src="http://placehold.it/600x350" alt=""></a>
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/recipe', data.id]">{{data.name.toUpperCase()}}</a>
    </h5>
    <small class="card-text">{{data.description}}</small>
  </div>
  <div class="card-footer">
    <small class="text-muted">Uploaded by: <a [routerLink]="['/user', data.uploader.id]">{{data.uploader.name}}</a><br>Date: {{data.date.toLocaleDateString()}}</small>
    <h6 class="card-subtitle">Rating: {{data.trating}}</h6>
    <app-rate-icon [score]="data.avgrating" [edit]="true"></app-rate-icon>
  </div>
</div>
