<div class="container container-review">
  <div class="row">
    <div class="col-4 col-lg-2 text-center">
      <img class="image rounded-circle" src="http://placehold.it/64x64" alt="">
      <br>
      <small>
        <span class="fa fa-arrow-up" (click)="upvote()"></span>
        {{data.likes}}
        <span class="fa fa-arrow-down" (click)="downvote()"></span>
      </small>
    </div>
    <div class="col-8 col-lg-3 text-center">
      <app-user-icon [data]="reviewer.id"></app-user-icon>
      <br>
      <app-rate-icon [score]="data.rate"></app-rate-icon>
      <br>
      <small>{{data.date.toDateString()}}</small>
    </div>
    <p class="col-12 col-lg-7">
      <small>{{data.reviewtext}}</small>
    </p>
  </div>
</div>
