<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-8">
      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
        <div class="card-body">
          <h3 class="card-title">{{name}}</h3>
          <h6 class="card-subtitle">Uploaded by: <a [routerLink]="['/user', uploader.id]">{{uploader.name}}</a></h6>
          <p class="card-text">{{description}}</p>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          4.0 stars
          <hr>
          <div class="container">
            <h4>Ingredients</h4>
            <div class="ingredient-list">
              <ul class="list-unstyled row">
                <li class="list-group-item col-lg-4" *ngFor="let ingredient of ingredients; let i = index">{{(i+1)}} -
                  {{ingredient.quantity}} : {{ingredient.name}}</li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="container">
            <h4>Procedure</h4>
            <div class="ingredient-list">
              <ul class="list-group row">
                <li class="list-group-item" *ngFor="let step of procedures; let i = index">
                  <h6>Step {{(i+1)}}</h6>
                  <p>{{step.proc}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-9 -->
    <div class="col-lg-4">
      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Recipe
        </div>
        <div class="card-body">
          <h6 class="stepheader"></h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
            necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
            necessitatibus quae sint natus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
            necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
            necessitatibus quae sint natus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
            necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
            necessitatibus quae sint natus.</p>
          <a href="edits" class="btn btn-success">Rate & Review</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
