<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{ show: visibleAnimate }"
  [ngStyle]="{
    display: visible ? 'block' : 'none',
    opacity: visibleAnimate ? 1 : 0
  }">
  <div class="modal-dialog modal-dialog-centered {{config.modalsize}} {{config.modalsize === 'modal-lg'?'dmodal-content':''}} {{loading?'cursor-loading':''}}">
    <div class="modal-content {{config.modalsize === 'modal-lg'?'dmodal-content':''}}">
      <div class="modal-header">
        <h4>
          <b>{{ config.title }}</b>
        </h4>
        <span (click)="display(false)" class="btn btn-primary btn-sm fa fa-close" style="margin: 0; padding: 3px;"></span>
      </div>
      <div class="modal-body {{config.modalsize === 'modal-lg'?'dmodal-body':''}}">
        <div class="container">
          <ng-template appHost>{{ngOnInit()}}</ng-template>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-{{item.style}}" *ngFor="let item of buttons" (click)="item.response.call()">
          {{ item.text }}
        </button>
      </div>
    </div>
  </div>
</div>
